<!-- <section> -->
<section>
  <div>
    <div>

      <div >
        <article class="itemInCart" ng-repeat="item in vm.cartItemsDisplay">
          <div class="imageDiv">
            <img src="images/assets/T1.jpg" alt="{{item.descr}}">
          </div>
          <div class="itemDetailsDiv">
            <div class="itemtableDiv">
              <p>{{item.descr}}</p>
              <p>{{item.style}}</p>
              <p>{{item.color}}</p>
            </div>
            <div class="itemButtonsDiv">
              <md-button class="md-raised" md-no-ink class="md-primary" ng-click="vm.editItemInModal($event,item,vm.cartItemsDisplay,$index)">Edit</md-button>
              <md-button class="md-raised" md-no-ink class="md-primary" ng-click="vm.removeElement(item,vm.cartItemsDisplay)">Remove</md-button>
              <md-button class="md-raised" md-no-ink class="md-primary" ng-click="vm.moveToWishlist(item,vm.cartItemsDisplay)">Save later</md-button>
            </div>
          </div>
        </article>
      </div>


      <!-- <table id="itemsTable">
        <th flex layout="row">
          <td lex layout="row">{{vm.cartItemsDisplay.length}} Items</td>

          <td>Size</td>
          <td>OTY</td>
          <td>Price</td>
        </th>

        <tr ng-repeat="item in vm.cartItemsDisplay">
          <td flex layout="row">
            <div class="itemImgDiv">
              <img src="images/assets/T1.jpg" alt="{{item.descr}}">
            </div>
            <div class="itemDetails">
              <div>
                <p>{{item.descr}}</p>
                <p>{{item.style}}</p>
                <p>{{item.color}}</p>
              </div>
              <div>
                <section class="itemButtonDiv"layout="row" layout-sm="column">
                  <md-button md-no-ink class="md-primary" ng-click="vm.editItemInModal($event,item,vm.cartItemsDisplay,$index)">Edit</md-button>
                  <md-button md-no-ink class="md-primary" ng-click="vm.removeElement(item,vm.cartItemsDisplay)">Remove</md-button>
                  <md-button md-no-ink class="md-primary" ng-click="vm.moveToWishlist(item,vm.cartItemsDisplay)">Save later</md-button>
                </section>
              </div>

            </div>
          </td>
          <td>{{item.size}}</td>
          <td>{{item.quantity}}</td>
          <td>{{item.price}}</td>
        </tr>
      </table> -->

      <hr>

      <div>
        <div class="helpContactUs"></div>
        <div class="invoiceDetailsDiv">
          <table>
            <tr layout="row">
              <td> SubTotal :</td>
              <td> {{vm.Bill.subTotal}}</td>
            </tr>
            <tr layout="row">
              <td> Discount :</td>
              <td> {{vm.Bill.discount}}</td>
            </tr>

            <tr>
              <td>
                <h4>Estimated Shipping</h4>
                <h6>You Qualifiy for Free Shipping </h6>
              </td>

            </tr>
            <tr layout="row">
              <td>
                <h2>Estimated Total</h2>
                <H2>{{vm.Bill.Total}}</H2>
                <h6>taxes will be applied later </h6></td>
              <td>
                30
              </td>
            </tr>
          </table>

        </div>
      </div>
      <!-- <div class="CartList">

          <article class="item" >
            <div class="itemRow">
              <div class="itemImgDiv"><img src="" alt="">
              </div>
              <div class="itemDetails" flex layout="row" layout-gt-sm="colmun">
                <div>

                </div>
                <tr flex>Size</tr>
                <tr flex>OTY</tr>
                <tr flex>Price</tr>
              </div>
            </div>

          </article>
          <br>
          <article class="item" ng-repeat="item in vm.cartItemsDisplay">
            <div class="itemRow">
              <div class="itemImgDiv"><img src="" alt="">
              </div>
              <div class="itemDetails" flex layout="row" layout-gt-sm="colmun">
                <div>
                  <p>{{item.descr}}</p>
                  <p>{{item.style}}</p>
                  <p>{{item.color}}</p>

                </div>
                <tr flex>$</tr>
                <tr flex>3</tr>
                <tr flex>200</tr>
              </div>
            </div>

          </article>

        </div> -->
    </div>
  </div>
</section>
<!-- </section> -->
