<section>
  <div>
    <div>

      <div>
        <article class="itemInCart heading showDesktop">
          <div class="imageDiv" flex>
            <p> </p>
          </div>
          <div class="itemDetailsDiv">
            <div class="itemtableDiv">
              <div>
              <p> {{vm.cartItemsDisplay.length}} Items</p>
              </div>
              <div>
                <p>Size</p>
              </div>
              <div>
                <p>QTY</p>
              </div>
              <div>
                <p>Price</p>
              </div>
            </div>
            <div class="itemButtonsDiv">

            </div>
          </div>
        </article>
        <article class="itemInCart" ng-repeat="item in vm.cartItemsDisplay">
          <div class="imageDiv">
            <img src="images/assets/T1.jpg" alt="{{item.descr}}">
          </div>
          <div class="itemDetailsDiv">
            <div class="itemtableDiv">
              <div>
                <p>{{item.descr}}</p>
                <p>Style : {{item.style}}</p>
                <p>Color : {{item.color}}</p>
              </div>
              <div>
                <p><small class="hideDesktop">Size :</small>{{item.size}}</p>
              </div>
              <div>
                <p><small class="hideDesktop">Qty :</small>{{item.quantity}}</p>
              </div>
              <div>
                <p><small class="hideDesktop">Price :</small> {{item.price}}</p>
              </div>
            </div>
            <div class="itemButtonsDiv">
              <md-button class="md-raised" md-no-ink class="md-primary" ng-click="vm.editItemInModal($event,item,vm.cartItemsDisplay,$index)">Edit</md-button>
              <md-button class="md-raised" md-no-ink class="md-primary" ng-click="vm.removeElement(item,vm.cartItemsDisplay)">Remove</md-button>
              <md-button class="md-raised" md-no-ink class="md-primary" ng-click="vm.moveToWishlist(item,vm.cartItemsDisplay)">Save later</md-button>
            </div>
          </div>
        </article>
      </div>
      <hr>
      <div id="discountDiv">
        <md-input-container md-no-float class="md-block">
          <!-- <md-icon md-svg-src="img/icons/ic_phone_24px.svg"></md-icon> -->
          <md-button class="md-raised md-primary" ng-click="vm.applyDiscount(promoCode,vm.cartItemsDisplay)">Apply</md-button>
          <input type="text" placeholder="Enter Promo Code or Gift Card" ng-model="promoCode">

        </md-input-container>

      </div>


      <div id="contactAndBillsDiv">
        <div class="helpContactUs showDesktop">
          <h3>Need help or have Questions ?</h3>
          <p> Call Customer Service on 1-800-555-5555</p>
          <p> <a href="">Chat with our  stylists </a> </p>
          <p> <a href=""> See return and Exchange Policy</a></p>


        </div>
        <div class="invoiceDetailsDiv">
          <table>
            <tr layout="row">
              <td> SubTotal :</td>
              <td> {{vm.Bill.subTotal}}</td>
            </tr>
            <tr layout="row">
              <td> Discount :</td>
              <td> {{vm.Bill.discount}}</td>
            </tr>

            <tr>
              <td>
                <h4>Estimated Shipping</h4>
                <h6>You Qualifiy for Free Shipping </h6>
              </td>

            </tr>
            <tr layout="row">
              <td>
                <h2>Estimated Total</h2>
                <H2>{{vm.Bill.Total}}</H2>
                <h6>taxes will be applied later </h6></td>

            </tr>
          </table>

        </div>
      </div>
    </div>
  </div>
</section>
