<md-dialog aria-label="Edit item Details Cart" class="fullscreen-dialog">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Edit item Details </h2>
        <span flex></span>

        <md-button class="md-icon-button" ng-click="cancel()">
          X
          <!-- <md-icon md-font-icon="fa-circle" class="fa"></md-icon> -->
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>

      <div id="modal_container">
        <div class="modalDetailsDiv">
          <div class="modalDescrDiv">
            <p>{{product.p_variation}} {{product.p_name}}</p>
            <H1><small>{{item.currency}}</small>{{product.p_originalprice}}</H1>
          </div>
          <div class="modalDetailsColourDiv">
            <md-radio-group ng-model="item.color">
              <md-radio-button ng-value="colorChoice.name" class="md-primary" ng-repeat="colorChoice in product.p_available_options.colors" ng-style="{'color': colorChoice.hexcode}">{{colorChoice.name}}</md-radio-button>
            </md-radio-group>
          </div>
          <div class="modalDetailsSizeDiv">
            <md-input-container>
              <label>Size</label>
              <md-select ng-model="item.size">
                <md-option ng-repeat="size in product.p_available_options.sizes" ng-value="size.code">
                  {{size.code}}
                </md-option>
              </md-select>
            </md-input-container>
            <md-input-container>
              <label>QTY</label>
              <md-select ng-model="item.quantity">
                <md-option ng-repeat="count in Qty" ng-value="count">
                  {{count}}
                </md-option>
              </md-select>
            </md-input-container>
          </div>
        </div>
        <div class="modalimagsDiv">
          <img src="images/assets/T1.jpg" alt="{{item.descr}}">
        </div>
      </div>

      <!-- <div layout="row">
        <div layout="column" flex>
          <div>
            <p>{{product.p_variation}} {{product.p_name}}</p>
          </div>
          <div>
            <H1><small>{{item.currency}}</small>{{product.p_originalprice}}</H1>
          </div>
          <div>
            <p>{{product.p_variation}}</p>
          </div>
          <div>
            <md-radio-group ng-model="item.color">

              <md-radio-button ng-value="colorChoice.name" class="md-primary" ng-repeat="colorChoice in product.p_available_options.colors" ng-style="{'color': colorChoice.hexcode}">{{colorChoice.name}}</md-radio-button>




            </md-radio-group>
          </div>
          <div>
            <md-input-container>
              <label>Size</label>
              <md-select ng-model="item.size">

                <md-option ng-repeat="size in product.p_available_options.sizes" ng-value="size.code">
                  {{size.code}}
                </md-option>
              </md-select>
            </md-input-container>
            <md-input-container>
              <label>QTY</label>
              <md-select ng-model="item.quantity">

                <md-option ng-repeat="count in Qty" ng-value="count">
                  {{count}}
                </md-option>
              </md-select>
            </md-input-container>
          </div>

        </div>
        <div class="itemImgModalDiv" flex>
          <img src="images/assets/T1.jpg" alt="{{item.descr}}">
        </div>
      </div> -->

    </md-dialog-content>

    <md-dialog-actions layout="row">

      <span flex></span>
      <md-button class="md-raised md-warn" ng-click="cancel('not useful')">
        Cancel
      </md-button>
      <md-button class="md-raised md-primary" ng-click="answer(item)">
        Edit
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
