<!-- <nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-header">
    <a href="/" class="navbar-brand"><span class="brand-title">{{vm.navline.title}}</span></a>
    <a class="btn navbar-btn navbar-toggle" ng-click="isCollapsed = !isCollapsed">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>
  </div>
  <div class="navbar-collapse collapse" uib-collapse="isCollapsed">
    <div class="pull-right navbar-logo">
      <ul class="nav navbar-nav pull-right">
        <li>
          <a ng-href="{{vm.navline.link}}" target="_blank">
                        {{vm.navline.text}}
                    </a>
        </li>
        <li class="dropdown dropdown-big">
          <a href="http://www.angularjs.org" target="_blank">
            <img src="images/AngularJS-small.png" />
          </a>
        </li>
        <li>
          <a href="http://www.gulpjs.com/" target="_blank">
            <img src="images/gulp-tiny.png" />
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->

<!-- <header> -->
  <md-toolbar id="top-nav">
      <div class="md-toolbar-tools">
        <!-- <md-button aria-label="Go Back">
          Go Back
        </md-button> -->
        <h2>
          <span>Shopping Site</span>
        </h2>
        <span flex></span>
        <md-button class="md-raised" aria-label="Learn More" ui-sref="cart">
          Shopping cart
        </md-button>
        <!-- <md-button class="md-raised" aria-label="Learn More" ui-sref="wishlist">
          Wish List
        </md-button> -->
        <!-- <sp-shopping-cart>
        </sp-shopping-cart> -->

      </div>
    </md-toolbar>

<!-- </header> -->
