@color_lightblue: #52b9e9;
@color_blue: #1171a3;
@color_success: #43c83c;
@color_warning: #f88529;
@color_important: #fa3031;
@color_violet: #932ab6;
@mobile: "only screen and (max-width: 800px)";
@tablet: "only screen and (min-width: 800px) and (max-width: 1280px)";
@desktop: "only screen and (min-width: 1280px)";
/*#endregion */
// body{
//   margin: 0;
//   padding: 0;
// }
//
// #top-nav {position:fixed; top:0px; margin:auto; z-index:100000; width:100%;}

md-dialog.fullscreen-dialog {
  // max-width: 100%;
  // max-height: 100%;
  width: 30em;
  height: 35em;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  md-dialog-content {
    height: 100%;
  }

  form {
    height: 100%;
  }
}




// .itemImgDiv {
//   @media @mobile {
//     margin-left: 0;
//     margin-right: 0;
//   }
//   @media @tablet {
//     margin-left: 5em;
//     margin-right: 5em;
//   }
//   @media @desktop {
//     margin-left: 30em;
//     margin-right: 30em;
//     // margin-right: 2em;
//   }
// }
// @media all and (max-device-width : 1280px) and  (min-device-width : 1024px){
.itemImgDiv {
  margin-left: 10em;
  margin-right: 10em;
  // margin-right: 2em;
}
// }
.itemImgModalDiv img {
  width: 100%;
}

article.itemInCart {
  flex-direction: row;
  display: flex;

  .imageDiv {
    // flex-grow:1;
  }

  .itemDetailsDiv {
    flex-grow: 1;
    padding-left: 4em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .itemtableDiv {
      flex-direction: column;
      display: flex;
      justify-content: space-between;
      @media only screen and (min-width : 1024px ) and (max-width : 1280px ) {
        padding-right: 2em;
      }
      @media only screen and (min-width : 1280px ) {
        padding-right: 4em;
        flex-direction: row;
      }
    }

  }
}

// @media only screen and (min-width : 1024px ) and (max-width : 1680px ) {
//   .itemtableDiv {
//     padding-right: 4em;
//   }
// }
//
// @media only screen and (min-width : 1680px ) {
//   .itemtableDiv {
//     flex-direction: row;
//     padding-right: 4em;
//   }
// }


#discountDiv md-input-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  // justify-content: space-around;
  // button{
  //   padding: 0;
  //   margin: 0;
  // }
}

#contactAndBillsDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;


}

.invoiceDetailsDiv {
  width: 100%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  table,tbody,tr{
    width: 100%;
    }
    tr{
      padding-left: 2em;
      padding-right: 2em;
      justify-content: space-between;
    }
}

div#modal_container {
  display: flex;
  height: 100%;
  // background: red;
  justify-content: space-around;
  align-items: center;
}


@media only screen and (min-width : 1024px ) and (max-width : 1280px ) {
  #content {
    padding-top: 4em;
    padding-left: 5em;
    padding-right: 5em;
  }
}

@media only screen and (min-width : 1280px ) {
  #content {
    padding-top: 4em;
    padding-left: 10em;
    padding-right: 10em;
  }


}

@media only screen and (min-width : 1680px ) {
  #content {
    padding-top: 4em;
    padding-left: 20em;
    padding-right: 20em;
  }
}

@media only screen and (max-width : 1024px ) {
  .showDesktop{
    display: none;
    }

}
